{% extends "base.html" %}
{% block title %}Receive Inventory{% endblock %}
{% block content %}
    <h1>Receive Inventory</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for item in form.items %}
            <div class="form-group">
                {{ item.product.label }} {{ item.product(class="form-control") }}
                {{ item.quantity.label }} {{ item.quantity(class="form-control") }}
                {{ item.batch_number.label }} {{ item.batch_number(class="form-control") }}
                {{ item.expiry_date.label }} {{ item.expiry_date(class="form-control") }}
            </div>
        {% endfor %}
        {{ form.submit(class="btn") }}
    </form>
{% endblock %}