{% extends "base.html" %}
{% block title %}Update BOM{% endblock %}
{% block content %}
    <h1>Update Bill of Materials</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for item in form.items %}
            <div class="form-group">
                {{ item.component_product.label }} {{ item.component_product(class="form-control") }}
                {{ item.quantity.label }} {{ item.quantity(class="form-control") }}
            </div>
        {% endfor %}
        {{ form.submit(class="btn") }}
    </form>
{% endblock %}